name: Build with Gradle

on: [push]

jobs:
  build:
    ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: |
          chmod +x gradlew || true
          if [ ! -f "gradlew" ]; then
            gradle wrapper --gradle-version 8.5
            chmod +x gradlew
          fi

      - name: Build with Gradle
        run: ./gradlew build --no-daemon

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: mod-jar
          path: build/libs/*.jar
