name: Compile Mod

on: [push]

jobs:
  compile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

     - name: Initialize Gradle
       run: |
         gradle wrapper --gradle-version 8.5
         chmod +x gradlew

      - name: Build
        run: ./gradlew build --no-daemon

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: endoffset-mod
          path: build/libs/*.jar
